@use './base';
@use './utils/variables' as vars;
@use './utils/mixins';
@use './components/menu';
@use './components/header';
@use './components/background-section';
@use './components/breadcrumb';
@use 'components/articles';
@use './components/articleCard';
@use './components/articleDetail';
@use './components/hero';
@use './components/footer';
@use './components/stayList';
@use './components/stayCard';
@use './components/articleNavigation';
@use './components/calendar';
@use './components/adminDashboard';
@use './components/updateStayPopup';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// Règles spécifiques au focus sur les éléments de formulaire
input:focus, textarea:focus {
    outline: 2px solid #4e90c8;
    outline-offset: 2px;
}

.App {
    @include mixins.center-horizontal(1200px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main-content {
        width: 100%;
        flex: 1;
        background-color: rgb(124, 124, 124);
        
        &__inner {
            padding: 1rem;
        }

        article {
            margin: 2rem 0;
            padding-bottom: 1rem;
        }

        .bottom-line {
            border-bottom: 1px solid white;
        }

        h2, h3, h4 {
            color: vars.$third-color;
            margin-bottom: 0.6rem;
            font-size: vars.$font-size-first-title;
        }

        p, li {
            font-size: vars.$font-size-base;
            line-height: vars.$line-height-base;
        }
    }
}

