@use '../../sass/test/variablesTest' as v;
@use '../../sass/test/mixinsTest' as m;

header {
    background-color: v.$primary-color;
    padding: 1rem;
    color: v.$light-text;

    .logo-title {
        text-align: center;
        margin-bottom: 1rem;
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 1rem;

            a {
                color: v.$light-text;
                text-decoration: none;
                padding: 0.5rem;
                @include m.hover-transition;

                &:hover {
                    color: v.$hover-accent;
                }
            }
        }
    }

    @include m.md {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        .logo-title {
            margin-bottom: 0;
        }
    }
}
