# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log
logs/*.log
debug.log
config/

# IDE / éditeurs
.vscode/
.idea/
*.swp
*.swo

# Environnements
.env
.DS_Store

# Build
dist/
build/

# Dépendances Sequelize
sequelize-auto-config.json

# Cache
.cache/
tmp/
