@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.site-footer {
  width: 100%;
  @include mix.dark-background;
  color: vars.$white;
  text-align: center;
  @include mix.padding-vertical(1rem);
  
  // Contenu
  p {
    margin: 0;
    font-size: 1rem;
    
    @include mix.for-size('tablet') {
      font-size: 1.1rem;
    }
  }
}